@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a2a2a2;
}


/* div,
span,
p,
button {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}
i {
  color: grey;
} */
